In [3]:
import pandas as pd
from scipy import stats as st

In [2]:
df=pd.read_csv(r"D:\DS PYTHON\Assignment\Cars.csv")

In [4]:
df

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
..  ...        ...  ...         ...        ...
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

[81 rows x 5 columns]

In [5]:
df['MPG'].mean()

34.422075728024666

In [6]:
df['MPG'].std()

9.131444731795982

In [ ]:
# P(MPG>38)

In [17]:
1-st.norm.cdf(38,34.42,9.13)

0.34748702501304063

In [19]:
#P(MPG<40)

In [18]:
st.norm.cdf(40,34.42,9.13)

0.7294571279557076

In [20]:
# P (20<MPG<50)

In [22]:
st.norm.cdf(50,34.42,9.13)-st.norm.cdf(20,34.42,9.13)

0.8989177824549222