In [3]:
import pandas as pd

In [4]:
df=pd.read_csv(r'Q7.csv')

In [11]:
df.rename(columns={'Unnamed: 0':'Car_Name'},inplace=True)

In [11]:
df.head()

            Car_Name  Points  Score  Weigh
0          Mazda RX4    3.90  2.620  16.46
1      Mazda RX4 Wag    3.90  2.875  17.02
2         Datsun 710    3.85  2.320  18.61
3     Hornet 4 Drive    3.08  3.215  19.44
4  Hornet Sportabout    3.15  3.440  17.02

In [6]:
# Find Mean, Median, Mode, Variance, Standard Deviation, and 
# Range and also Comment about the values/ Draw some inferences.

In [12]:
# Calculating the mean for Points,Score,Weigh

In [15]:
mean_Points=df['Points'].mean()
mean_Score=df['Score'].mean()
mean_Weigh=df['Weigh'].mean()

In [17]:
mean_Points

3.5965625000000006

In [18]:
mean_Score

3.2172499999999995

In [19]:
mean_Weigh

17.848750000000003

In [21]:
median_Points=df['Points'].median()
median_Score=df['Score'].median()
median_Weigh=df['Weigh'].median()

In [22]:
median_Points

3.6950000000000003

In [23]:
median_Score

3.325

In [24]:
median_Weigh

17.71

In [ ]:
# Calculating Mode

In [29]:
mode_Points=df['Points'].mode()
mode_Score=df['Score'].mode()
mode_Weigh=df['Weigh'].mode()

In [31]:
mode_Points[0]

3.07

In [32]:
mode_Score

0    3.44
Name: Score, dtype: float64

In [34]:
mode_Weigh[0]

17.02

In [ ]:
# Calculating Variance

In [43]:
var_Points=df['Points'].var()
var_Score=df['Score'].var()
var_Weigh=df['Weigh'].var()

In [42]:
var_Points

0.28588135080645166

In [36]:
var_Score

0.9573789677419356

In [37]:
var_Weigh

3.193166129032258

In [ ]:
# Calculating Standard Deviation

In [27]:
s_Points=df['Points'].std()
s_Score=df['Score'].std()
s_Weigh=df['Weigh'].std()

In [38]:
s_Points

0.5346787360709716

In [39]:
s_Score

0.9784574429896967

In [40]:
s_Weigh

1.7869432360968431

In [47]:
# Describe Method to get std,mean,median,

In [48]:
df.describe()

          Points      Score      Weigh
count  32.000000  32.000000  32.000000
mean    3.596563   3.217250  17.848750
std     0.534679   0.978457   1.786943
min     2.760000   1.513000  14.500000
25%     3.080000   2.581250  16.892500
50%     3.695000   3.325000  17.710000
75%     3.920000   3.610000  18.900000
max     4.930000   5.424000  22.900000

In [1]:
# Calculating the range

In [18]:
Point_range=df['Points'].max()-df['Points'].min()

In [19]:
Point_range

2.17

In [20]:
Score_range=df['Score'].max()-df['Score'].min()

In [21]:
Score_range

3.9110000000000005

In [22]:
Weigh_range=df['Weigh'].max()-df['Weigh'].min()

In [23]:
Weigh_range

8.399999999999999